h1,
.u-font-h1 {
  font-size: 12rem;
  line-height: 12rem;
  color: #1d1d1f;
  font-family: 'Ogg';

  // @include screen('small') {
  //   font-size: 2.8rem;
  //   line-height: 3.2rem;
  // }
}

// .u-font-normal {
//   font-size: 2.4rem;
//   line-height: 3.2rem;

//   @include screen(small) {
//     font-size: 2.2rem;
//     line-height: 3rem;
//   }
// }
