.home {
  --overflow: unset;
  position: relative;
  max-width: 128rem;
  margin: 0 auto;
  padding-bottom: 3rem;

  @include screen(med) {
    overflow-x: var(--overflow);
  }

  section {
    position: relative;
    width: 100vw;
    padding: 25rem 2rem 5rem;
    left: calc(-50vw + 50%);

    h1 {
      margin-bottom: 5rem;
    }

    @include screen(med) {
      padding-top: 15rem;
    }

    @include screen(small) {
      padding-top: 5.3rem;

      h1 {
        margin-bottom: 2rem;
      }
    }
  }

  .c-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 2rem;
    z-index: 3;
    padding: 0 2rem;

    @include screen(small) {
      top: 2.6rem;
    }

    &__switch {
      position: relative;
      width: 60px;
      height: 34px;
      float: right;
      transform: scale(0.75);
      transform-origin: right;
      display: flex;
      align-items: center;

      @include screen(small) {
        transform: scale(0.7);
      }

      &::before {
        content: 'Music';
        margin-left: -7rem;
        transform: scale(1.2);
        font-weight: 400;
        pointer-events: none;

        @include screen(small) {
          margin-left: -6.5rem;
          transform: scale(1.3);
        }
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #fc477d;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #fc477d;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  .c-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
    text-align: center;
    background: linear-gradient(180deg, #fbeff4 0%, #fff 100%);

    @keyframes slide {
      to {
        transform: translateY(0%);
      }
    }

    @keyframes fade {
      to {
        opacity: 1;
      }
    }

    @include screen(med) {
      padding-top: 15rem;
    }

    @include screen(small) {
      padding-top: 13.2rem;
      text-align: left;
      align-items: flex-start;
    }

    &__heading {
      position: relative;
      max-width: 100rem;
    }

    &__subtext {
      max-width: 72rem;
    }

    &__button {
      --svg-transform: scale(1);
      --svg-stroke-color: #1d1d1f8e;
      --after-transform: translate(50%, -30%) scale(0.6);
      --size: 13rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #1d1d1f;
      position: relative;
      width: var(--size);
      height: var(--size);
      border: none;
      border-radius: 100%;
      background: none;
      margin-top: 9rem;
      font-weight: 500;
      font-size: 1.4rem;
      z-index: 3;
      transform: scale(1.05);

      @include screen(small) {
        --size: 8rem;
        --after-transform: translate(55%, -35%) scale(0.7);
        margin-top: 4rem;
        font-size: 1.2rem;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        // background: #ff7c94;
        background: #fc477d;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: 1.12s $ease-out-expo;
        transform: var(--after-transform);
        pointer-events: none;
        opacity: 0;
        animation: fade 1s linear forwards 3s;
      }

      &:hover {
        --svg-transform: scale(0.9);
        --svg-stroke-color: rgba(0, 0, 0, 0);
        --after-transform: translate(0) scale(0.9);
      }

      svg {
        --length: 375;
        position: absolute;
        transition: 1.12s $ease-out-expo;
        stroke-dasharray: var(--length);
        stroke-dashoffset: var(--length);
        transform: rotate(-90deg);
        animation: drawcircle 0.6s linear 1.8s forwards;

        @keyframes drawcircle {
          to {
            stroke-dashoffset: 0;
          }
        }

        circle {
          transform: var(--svg-transform);
          transition: inherit;
          stroke: var(--svg-stroke-color);
        }
      }

      span {
        $delay: 3s;
        opacity: 0;
        transform: translateY(30%);
        animation: slide 0.6s $ease-out-expo forwards $delay,
          fade 0.8s linear forwards $delay;
      }
    }
  }

  h1,
  .c-hero__subtext {
    opacity: 0;

    div {
      display: inline-block;
      white-space: pre;
    }

    span {
      --delay: 0.1s;
      position: relative;
      display: inline-block;
      transform: translateY(50%);
      opacity: 0;
      animation: slide 1s $ease-out-expo forwards var(--delay),
        fade 1.2s linear forwards var(--delay);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          --delay: #{$i * 0.14s};
        }
      }
    }
  }

  .c-book,
  .c-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: linear-gradient(180deg, #fff 0%, #effbf1 15%, #fff 100%);
    background: linear-gradient(180deg, #fff 0%, #effbf1 15%);
    // padding: 25rem 0 10rem;

    &__container {
      max-width: 72rem;
    }

    p:not(:first-child) {
      margin-top: 3rem;

      @include screen(small) {
        margin-top: 2rem;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
      height: auto;
      margin: 4rem 0;

      @include screen(small) {
        width: 100%;
      }
    }
  }

  .c-book img {
    transform: scale(1.3) translateY(-2.5%);
    pointer-events: none;
    margin: 6rem 0;
  }

  .c-purchase {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background: linear-gradient(180deg, #effbf1 0%, #fff 50%);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 10rem;

    @include screen(small) {
      position: unset;
      width: 100%;
      align-items: flex-start;
      padding-top: 2rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      a {
        --color: rgb(61, 61, 64);
        color: var(--color);
        text-decoration: none;
        font-family: 'ogg';
        font-size: 5rem;
        line-height: 5rem;
        display: inline-block;
        z-index: 2;
        transition: color 0.14s linear, transform 0.4s $ease-out-expo;

        @include screen(med) {
          font-size: 3.8rem;
          line-height: 3rem;
        }

        @include screen(small) {
          font-size: 2.7rem;
          line-height: 2.7rem;
        }

        &:hover {
          --color: #fc477d;
          transform: translateX(2%);

          svg {
            transform: translate(20%, -20%);
          }
        }

        svg {
          transition: color 0.14s linear, transform 0.7s $ease-out-expo;

          path {
            fill: var(--color);
            transition: inherit;

            @include screen(small) {
              transform: scale(0.8);
              transform-origin: bottom left;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 3.5rem;

          @include screen(small) {
            margin-bottom: 2rem;
          }
        }
      }
    }

    &__book-render {
      width: 50vw;
      min-width: 50rem;
      height: auto;
      object-fit: contain;

      @include screen(small) {
        width: 100%;
        min-width: unset;
      }
    }
  }

  .c-author {
    // padding-top: 25rem;
    // background: linear-gradient(180deg, #fff 0%, #fed2c0 100%);
    background: linear-gradient(180deg, #fff 0%, #eff6fb 15%);

    &__container {
      max-width: 77rem;
    }

    img {
      width: 100%;
      max-height: 84rem;
      object-fit: cover;
      object-position: center;
      background: rgb(226, 226, 226);
    }
  }

  .c-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 25rem 0 10rem;
    background: linear-gradient(180deg, #eff6fb 0%, #f9effb 20%);

    &__flickity {
      width: 100vw;
      height: auto;
      margin-top: 3rem;

      .c-review {
        width: 50vw;
        background-color: #ffd4c3;
        margin: 0 2rem;
        padding: 9rem 4rem 8rem;
        max-height: 80rem;
        overflow: scroll;

        @include screen(med) {
          width: 80vw;
          margin: 0 1rem;
          padding: 4rem 2rem 4rem;
        }

        &__comment {
          font-size: 2.6rem;
          line-height: 3.6rem;
          font-style: italic;
          font-weight: 400;

          @include screen(small) {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
        }

        &__full {
          font-size: 1.7rem;
          margin-top: 3rem;

          @include screen(small) {
            font-size: 1.5rem;
            margin-top: 2.5rem;
          }

          p:not(:first-child) {
            margin-top: 3rem;
          }
        }

        &__reviewer {
          margin-top: 10rem;
          font-weight: 400;

          @include screen(small) {
            margin-top: 5rem;
          }
        }
      }

      $colors: (#ffd4c3, #ffbdbd, #ffd0db, rgb(253, 255, 192), bisque);

      @for $i from 1 through 11 {
        $index: random(5);

        .c-review:nth-child(#{$i}) {
          background-color: nth($colors, $index);
        }
      }
    }
  }

  .c-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 25rem 0 40rem;
    text-align: center;
    background: linear-gradient(180deg, #f9effb 0%, #fff 50%);

    &__timer {
      font-family: 'ogg';
      font-size: 5rem;
      line-height: 5rem;
      margin-top: 2rem;
      color: #c72177;
      font-variant-numeric: tabular-nums;

      @include screen(small) {
        font-size: 2.8rem;
        line-height: 2.8rem;
      }

      &-sec {
        display: inline-block;
        width: 4.5rem;
        text-align: left;

        @include screen(small) {
          width: 3rem;
        }
      }
    }
  }

  .c-illustrations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: none;

    img {
      width: 32vw;
      min-width: 45rem;
      height: auto;

      &:nth-child(1) {
        transform: scale(1.2) rotate(-7deg);
      }

      &:nth-child(2) {
        transform: rotate(7deg);
      }

      &:nth-child(3) {
        transform: rotate(-10deg) scale(1.1);
      }

      &:nth-child(4) {
        transform: rotate(6deg);
      }

      &:nth-child(5) {
        transform: scale(1.2) translate(0, -10%);
      }

      @include screen(med) {
        width: 80%;
      }

      @include screen(small) {
        width: 100%;
        min-width: unset;

        &:nth-child(odd),
        &:nth-child(even) {
          transform: scale(1.2);
        }
      }
    }
  }

  .c-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    padding: 0 2rem;
    flex-wrap: wrap;
    width: 100%;

    @include screen(small) {
      margin-top: 0rem;

      > * {
        width: 100%;
      }
    }

    a {
      color: #c72177;
      text-decoration: none;

      @include screen(small) {
        display: inline-block;
        margin-top: 1rem;
      }
    }
  }
}
